{% extends "template.html" %}

{% block body %}
    <div class="alert alert-info" role="alert">
            Hledali jste slovo: <strong>"{{ data['search_text'] }}"</strong> - Počet nalezených výsledků: {{ data['findings'] }} ({{ data['time'] }} s)
    </div>

    <div class="row">
        <div class="col-7">
            <div class="list-group" id="list-tab" role="tablist">
                {% for item in data['items'] %}
                    <a onclick="return loadIframe(this.href)" href="{{ item['url'] }}" class="list-group-item list-group-item-action flex-column align-items-start" role="tab" data-toggle="list">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ item['title'] }}</h5>
                        </div>
                        <p class="mb-1">...{{ item['content_begin'] }}<b class="text-dark bg-warning">{{ item['searched'] }}</b>{{ item['content_end'] }}...</p>
                        <small>{{ item['url'] }}</small>
                    </a>
                {% end %}
            </div>
        </div>

        <div class="col-5">
            <div class="tab-content sticky-top fixed-top-margin" id="nav-tabContent">
                <a id="go-to-page-link" href="" class="btn btn-primary btn-lg disabled mb-3 btn-block" role="button" aria-disabled="true">Go to the page</a>

                <div class="embed-responsive embed-responsive-1by1">
                    <div id="iframe-background" class="loaded">
                      <iframe class="embed-responsive-item" id="frame" name="frame" src="" title="title" onload="onLoadIframe()">
                      </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
        Script volající se po načtení iframe
        - Přechod ze stavu "loading" do stavu "loaded"
    -->
    <script>
        function onLoadIframe() {
            var $iframeBackground = $('#' + "iframe-background");
            var $iframe = $('#' + "frame");

            $iframeBackground.attr('class', "loaded");
            $iframe.attr('style', "display:block;");
        }
    </script>

    <!--
        Script volající se po kliknutí na položku
        - Přechod ze stavu "loaded" do stavu "loading"
        - Přepnutí odkazu iframu
        - Aktivace buttonu "Go to the page"
        - Přepnutí odkazu buttonu
    -->
    <script type="text/javascript">
        function loadIframe(url) {
            var $iframe = $('#' + "frame");
            var $link = $('#' + "go-to-page-link");
            var $iframeBackground = $('#' + "iframe-background");

            if ( $iframe.length ) {
                $iframe.attr('style', "display:none;");
                $iframe.attr('src', url);
                $link.attr('href', url);
                $link.attr('class', "btn btn-primary btn-lg mb-3 btn-block");
                $iframeBackground.attr('class', "loading");
                return false;
            }
            return true;
        }
    </script>
{% end %}
