{% extends "template.html" %}

{% block body %} 
    {% block time %}
        <p>Počet nalezených výsledků: {{ data['findings'] }} ({{data['time'] }} s)</p>
    {% end %}
    
    {% block search %}
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    {% for item in data['items'] %}
                        {% block item %}
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ item['title'] }}</h5>
                                </div>
                                <p class="mb-1">...{{ item['content_begin'] }}<b>{{ item['searched'] }}</b>{{ item['content_end'] }}...</p>
                                <small>{{ item['url'] }}</small>
                            </a>
                        {% end %}
                    {% end %}
                </div>
            </div>

            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                </div>
            </div>
        </div>
    {% end %}

    <script>
        $('#list-tab a').on('click', function (e) {
          e.preventDefault()
          $(this).tab('show')
        })
    </script>

{% end %}