{% extends "template.html" %}

{% block body %} 
    {% block time %}
        <p>Počet nalezených výsledků: {{ data['findings'] }} ({{data['time'] }} s)</p>
    {% end %}
    
    {% block search %}
        <div class="row">
            <div class="col-8">
                <div class="list-group" id="list-tab" role="tablist">
                    {% for item in data['items'] %}
                        {% block item %}
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ item['title'] }}</h5>
                                </div>
                                <p class="mb-1">...{{ item['content_begin'] }}<b>{{ item['searched'] }}</b>{{ item['content_end'] }}...</p>
                                <small>{{ item['url'] }}</small>
                            </a>
                        {% end %}
                    {% end %}
                </div>
            </div>

            <div class="col-4">
                <div class="tab-content" id="nav-tabContent">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/T2Mgh9DnWXQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    {% end %}
{% end %}
